// 1. CSC & LUMI Brand Palette
$csc-blue:    #02284F;
$csc-light-blue: #ABCFEF; 
$very-light-blue: #f1f8fd;
$csc-green: #005260;
$csc-light-green:  #B0DCBA;
$very-light-green: #f5fff8;
$csc-red: #830051;
$very-light-red: #fdf6f6;
$csc-black:    #002930;
$csc-light-grey: #EFF0F1;
$white:       #ffffff;


// 2. Theme Variables
$brand-color:         $csc-blue;
$link-color:          $csc-blue;
$body-text-color:     $csc-black;
$nav-child-link-color: $csc-red;
$sidebar-color: $very-light-blue;


// 3. Branded Callouts (Notes & Warnings)
.note, .warning {
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  blockquote { margin: 0; border-left: none; padding: 0; color: inherit; }
}
.note { border: 1px solid $csc-light-green; border-left: 6px solid $csc-light-green; background-color: $very-light-green;}
.warning { border: 1px solid $csc-red; border-left: 6px solid $csc-red; background-color: $very-light-red;}


// 4. Interactive Elements
:not(pre) > code {
  color: $csc-green !important;
  background-color: $csc-light-grey !important;
  padding: 2px 4px;
  border-radius: 3px;
}

a:hover {
  color: $csc-green !important;
  text-decoration: underline;
}


// 5. Code Blocks (Ice Blue with CSC green border)
div.highlighter-rouge {
  margin: 1.5rem 0 !important;
  width: fit-content !important;
  min-width: min(100%, 450px) !important;
  max-width: 100% !important;
  background-color: $very-light-blue !important;
  border: 1px solid $csc-light-blue !important;
  border-radius: 6px !important;

  .highlight {
    background-color: transparent !important;
    padding: 1rem !important;
    padding-right: 3.5rem !important; // Safe zone for default button
    margin: 0 !important;
  }
}


// 6. Top buttons
.aux-nav {
  order: -1;// Moves it to the left
}

.aux-nav-list-item a {
  background-color: rgba($csc-blue, 0.05) !important;
  padding: 6px 15px !important;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid rgba($csc-blue, 0.1);

  &:hover {
    background-color: $csc-green !important;
  }
}


// 7. Responsive YouTube Videos
iframe[src*="youtube.com"],
iframe[src*="youtube-nocookie.com"] {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  margin: 1.5rem 0;
}