// 1. LUMI Brand Palette
$LUMI-white:       #ffffff; // Main colour
$LUMI-black:       #231f20; // Main colour
$LUMI-purple:      #7477b8; // Additional colour
$LUMI-blue:        #2c6789; // Additional colour
$LUMI-magenta:     #ec008c; // Effect colour

// Derived lighter shades for backgrounds and borders (Mixes with white)
$light-blue:        #abc2d0; 
$very-light-blue:   #f4f7f9;
$light-purple:      #c7c9e3;
$very-light-purple: #f4f4f9;
$light-magenta:     #f799d1;
$very-light-magenta: #fef2f9;

$light-grey:        #EFF0F1; // generic neutral backgrounds

// 2. Theme Variables
$brand-color:         $LUMI-blue;
$link-color:          $LUMI-blue;
$body-text-color:     $LUMI-black;
$nav-child-link-color: $LUMI-magenta;
$sidebar-color: $very-light-purple;
$nav-list-item-active-bg: $LUMI-magenta;


// 3. Branded Callouts (Notes & Warnings)
.note, .warning {
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  blockquote { margin: 0; border-left: none; padding: 0; color: inherit; }
}
.note { border: 1px solid $light-purple; border-left: 6px solid $LUMI-purple; background-color: $very-light-purple;}
.warning { border: 1px solid $light-magenta; border-left: 6px solid $LUMI-magenta; background-color: $very-light-magenta;}


// 4. Interactive Elements
:not(pre) > code {
  color: $LUMI-blue !important;
  background-color: $light-grey !important;
  padding: 2px 4px;
  border-radius: 3px;
}

a:hover {
  color: $LUMI-magenta !important;
  text-decoration: underline;
}


// 5. Code Blocks
div.highlighter-rouge {
  margin: 1.5rem 0 !important;
  width: fit-content !important;
  min-width: min(100%, 450px) !important;
  max-width: 100% !important;
  background-color: $very-light-blue !important;
  border: 1px solid $light-blue !important;
  border-radius: 6px !important;

  .highlight {
    background-color: transparent !important;
    padding: 1rem !important;
    padding-right: 3.5rem !important; // Safe zone for default button
    margin: 0 !important;
  }
}


// 6. Top buttons
.aux-nav {
  order: -1;// Moves it to the left
}

.aux-nav-list-item a {
  background-color: $light-blue;
  padding: 6px 15px !important;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid rgba($LUMI-blue, 0.1);

  &:hover {
    background-color: $LUMI-blue;
    color: $LUMI-magenta !important;
  }
}


// 7. Responsive YouTube Videos
iframe[src*="youtube.com"],
iframe[src*="youtube-nocookie.com"] {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  margin: 1.5rem 0;
}